include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco la estructura de un cuento'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .opt {
                background: #fff;
                width: 80%;
                text-align: center;
                padding: 20px 0;
                margin: 10px 0;
                border-radius: 10px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
            }
            @media (max-width: 680px) {
                .opt .number {
                    font-size: 0.8rem;
                }
            }
            .drag {
                margin-top: 6px;
                width: auto;
                height: auto;
            }
            .drop {
                border-radius: 10px;
                border: 2px dashed var(--accent);
                font-size: 0.9rem;
                padding:10px;
                margin: 4px 0;
            }
            @media (max-width: 680px) {
                .drop {
                    font-size: 0.6rem;
                    padding: 4px;
                }
            }
            .area {
                justify-content: flex-start;
                padding: 4px 0;
                flex-wrap: wrap;
            }
            .area .drop {
                flex-grow: 1;
                margin-left: 10px;
                min-height: 20px;
                border-radius: 4px;
                background: #fff;
                display: inline;
                padding: 4px;
            }
            .area .drop div {
                margin: 4px;
            }
            @media (max-width: 680px) {
                .area .drop {
                    min-height: 10px;
                }
            }
            @media (max-width: 680px) {
                .area {
                    font-size: 0.8rem;
                }
                .area .number {
                    font-size: 0.8rem;
                }
            }
            .palabras .drag {
                margin: 6px;
            }
            .palabras .drag div {
                background: rgba(255, 255, 255, 0.8);
                padding: 4px;
                border-radius: 4px;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
            }
            
            .txt {
                background: #fff;
                font-size: 0.8rem;
                border-radius: 10px;
                padding: 4px;
                margin: 4px 0;
            }
            .txt p {
                margin: 6px;
            }
            @media (max-width: 680px) {
                .palabras .drag div {
                    padding: 2px;
                    font-size: 0.7rem;
                }
                .txt p {
                    font-size: 0.5rem;
                    margin: 2px;
                }
            }





    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="3" scene-color="#ED1C25")
                info(type="relacionar" title=title text="Relaciona las descripciones y los actos de la obra Caperucita Roja." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w20: .text-center: img(src="i/c1.png").w100.wm50
                        .w30.row.column.around
                            div.opt.drop(:data="1" droptimes="untilok")
                                number(c=1 smaller) Primer acto
                            div.opt.drop(:data="2" droptimes="untilok")
                                number(c=2 smaller) Segundo acto
                            div.opt.drop(:data="3" droptimes="untilok")
                                number(c=3 smaller) Tercer acto
                        
                        .w60.row.column.around.wm70
                            div.txt
                                p Después, Caperucita entró esperando ver a su abuela, pero la notó con apariencia extraña. Le preguntó sobre sus ojos, sus orejas y sus dientes, y el lobo saltó sobre ella y se la comió. El leñador se dio cuenta de que había pasado mucho tiempo y entró para abrir la panza del lobo y rescatarlas. Caperucita prometió no desobedecer a su mamá otra vez.
                                drag(:data="3" dropzone=".drop" stay-if-ok drag-line particle-color="#5EB247"): .conector.c1
                            div.txt
                                p Caperucita Roja se arregló y se puso su caperuza roja mientras su mamá le preparaba su canasto con flores y comida para visitar a su abuela. Antes de salir, su mamá le recordó que tuviera mucho cuidado en el bosque.
                                drag(:data="1" dropzone=".drop" stay-if-ok drag-line particle-color="#015093"): .conector.c2
                            div.txt
                                p Mientras Caperucita Roja caminaba por el bosque, el lobo se le acercó y le preguntó a dónde iba. Ella contestó que iba a visitar a su abuelita. El lobo le propuso hacer una carrera, y la mandó por el camino más largo para llegar antes que ella. Cuando llegó el lobo a casa de la abuela, un leñador lo vio.
                                drag(:data="2" dropzone=".drop" stay-if-ok drag-line particle-color="#00A8CB"): .conector.c3
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Esta es una escena del tercer acto de la obra Caperucita Roja. Coloca las acotaciones que corresponden en los espacios vacíos." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w100.wrap
                        .w20.text-center: img(src="i/c2.png").w100
                        .w80    
                            div.area.row
                                number(c=1 smaller) Acotación:
                                .drop(data="a" droptimes="untilok")
                            div.area.row
                                number(c=1 smaller) Caperucita Roja
                                .drop(data="b" droptimes="untilok")
                            div.area.row
                                div Abuelita, ¡pero qué ojos tan grandes tienes!, mira ¡qué orejas tan largas y puntiagudas!, ¡oh, y esos dientes tan filosos!
                            div.area.row
                                number(c=1 smaller) Lobo:
                                .drop(data="c" droptimes="untilok")
                            div.area.row
                                div ¡Son para comerte mejor!
                            div.area.row
                                number(c=1 smaller) Acotación:
                                .drop(data="d" droptimes="untilok")
                    .row.w100.wrap.palabras
                        drag(data="c" dropzone=".drop" stay-if-ok append-to-dropzone): div Con mirada feroz responde.
                        drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div Caperucita acercándose a la cama de su abuela del lado izquierdo. 
                        drag(data="d" dropzone=".drop" stay-if-ok append-to-dropzone): div El lobo salta encima de Caperucita y se la come.
                        drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div Sorprendida al ver la extraña apariencia de su abuela, exclama.
            
            // END
            scene(v-if="currentScene==3" :key="3" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [])
                
                app.currentScene = 0
                app.scenesCount = 2