mixin scripts
    // CDNS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js")
    script(src="https://unpkg.com/vue@2.6.11/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/Draggable.min.js")
    script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
    script(src="https://cdn.plyr.io/3.6.2/plyr.js")
    // Fireworks
    script(src="../../assets/modulos/fworks.js")
    // Modulos
    script(src="../../assets/modulos/sequence.js")
    script(src="../../assets/modulos/videoplayer.js")
    script(src="../../assets/modulos/popup.js")
    script(src="../../assets/modulos/number.js")
    script(src="../../assets/modulos/inputable.js")
    script(src="../../assets/modulos/embedsvg.js")
    script(src="../../assets/modulos/tooltiper.js")
    script(src="../../assets/modulos/dialogaudio.js")
    script(src="../../assets/modulos/selectives.js")
    script(src="../../assets/modulos/clickable.js")
    script(src="../../assets/modulos/drag.js")
    script(src="../../assets/modulos/audiotext.js")
    script(src="../../assets/modulos/desplegar.js")
    script(src="../../assets/modulos/scorebox.js")
    script(src="../../assets/modulos/scene.js")
    script(src="../../assets/modulos/info.js")
    script(src="../../assets/modulos/activity.js")
    // Mainscript
    script(src="../../assets/assets.js")
    if block
        block