include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Juego con las multiplicaciones'
- subtitle = '¿Por cuánto multiplico?'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .parrafoinputs {
                font-size: 1.4rem;
                font-weight: bold;
            }
            .parrafoinputs .inputbox {
                max-width: 80px;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe la información que falta en las siguientes operaciones.

            .row.mt-3.ex1
                .col-md-6.mt-2: .parrafoinputs.c1.text-center
                    span 8 x 
                    inputbox(v-model="r[0]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="9")
                    span = 72
                .col-md-6.mt-2: .parrafoinputs.c2.text-center
                    span 81 = 
                    inputbox(v-model="r[1]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="9")
                    span  x 
                    inputbox(v-model="r[2]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="9")
                .col-md-6.mt-2: .parrafoinputs.c3.text-center
                    span 6 x 
                    inputbox(v-model="r[3]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="8")
                    span  = 48
                .col-md-6.mt-2: .parrafoinputs.c4.text-center
                    inputbox(v-model="r[4]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="42")
                    span  = 7 x 6
                .col-md-6.mt-2: .parrafoinputs.c5.text-center
                    inputbox(v-model="r[5]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="5")
                    span  x 9 = 45
                .col-md-6.mt-2: .parrafoinputs.c1.text-center
                    span 40 = 
                    inputbox(v-model="r[6]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="8")
                    span  x
                    inputbox(v-model="r[7]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="5")
            
            .row.ex1
                .col-md-6.mt-2: .parrafoinputs.c1.text-center
                    span 9 x 7 = 
                    inputbox(v-model="r[8]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="63")
                .col-md-6.mt-2: .parrafoinputs.c2.text-center
                    inputbox(v-model="r[9]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="49")
                    span  = 7 x 7
                .col-md-6.mt-2: .parrafoinputs.c3.text-center
                    span 8 x 
                    inputbox(v-model="r[10]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="7")
                    span  = 56
                .col-md-6.mt-2: .parrafoinputs.c4.text-center
                    span 36 = 
                    inputbox(v-model="r[11]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="9")
                    span  x 
                    inputbox(v-model="r[12]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="4")
                .col-md-6.mt-2: .parrafoinputs.c5.text-center
                    span 5 x 5 = 
                    inputbox(v-model="r[13]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="25")
                .col-md-6.mt-2: .parrafoinputs.c1.text-center
                    inputbox(v-model="r[14]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="100")
                    span  = 10 x 10

            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])