include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Identifico las partes de un reporte'
- subtitle = 'Reflexiona sobre la encuesta'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Relaciona las columnas escribiendo en cada recuadro la letra correspondiente.

            .row.mt-3.ex1.trueorfalse.left
                .col-md-6.verticalrow
                    .common: labeltext(num="A.") Reporte o informe.
                    .common: labeltext(num="B.") Introducción.
                    .common: labeltext(num="C.") Desarrollo.
                    .common: labeltext(num="D.") Conclusiones.
                .col-md-6
                    inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" answer="c" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 En esta parte del texto se presentan las preguntas y sus resultados, además se pueden hacer gráficas o tablas.
                    inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" answer="d" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 En esta parte del texto se resumen los resultados, se interpreta la información y se valora si se cumplieron los propósitos.
                    inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" answer="b" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 En esta parte del texto se explican los propósitos de la encuesta y en cuál población se realizó.
                    inputbox(v-model="r[3]" :ref="refCount()" @isright="right++" answer="a" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 Es un documento que presenta los datos de una encuesta con el fin de informar.


            .instruccion.mt-5 Ordena los pasos para realizar un reporte o informe escribiendo del #[strong 1] al #[strong 3].

            .row.mt-3.ex2.trueorfalse.left
                .col-12
                    .common: inputbox(v-model="r[4]" :ref="refCount()" @isright="right++" answer="2" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 Escribir las preguntas y los resultados del tema que se quiere investigar. En caso de ser necesario, se pueden presentar los datos o la información con el apoyo de tablas y gráficas.
                    .common.mt-2: inputbox(v-model="r[5]" :ref="refCount()" @isright="right++" answer="3" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 Explicar los resultados o la interpretación de los datos sobre el tema con la finalidad de informar.
                    .common.mt-2: inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" answer="1" type="text" placeh="-")
                        template(v-slot:after=""): .ml-3 Describir cuáles son los propósitos de la encuesta y qué información se quiere obtener sobre un tema en específico.



            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])