include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Convierto unidades del litro'
- subtitle = 'El litro y la capacidad'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .inputbox {
                padding: 10px;
            }
            .inputbox input {
                font-size: 1.2rem;
                width: 90px;
                border-radius: 4px;
                margin: 0 6px;
                padding: 2px;
            }
            @media (max-width: 768px) {
                .inputbox {
                    flex-direction: column;
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
            @media (max-width: 768px) {
                .r_target {
                    text-align: center;
                    font-size: 0.8rem;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Convierte las siguientes cantidades a litros, después relaciona con una línea cada resultado con el procedimiento que se utilizó para la conversión.


            .row.mt-3.ex1
                .col-12
                    relational(v-if="tempsobj.sources" v-model="r[0]" :ref="refCount()" @isright="right++" :sources="tempsobj.sources" :targets="tempsobj.targets" :oks="tempsobj.oks")
                        template(v-slot:source="{source}")
                            inputbox(v-model="r[source.vm]" :ref="refCount()" @isright="right++" :answer="source.value" type="number" placeh="#")
                                template(v-slot:before="") {{source.before}}
                                template(v-slot:after="") {{source.after}}
                        template(v-slot:target="{target}") {{target}}


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'sources', [
                    {vm: 1, before: 'En 45 decalitros hay ', value: 450, after: ' litros.'},
                    {vm: 2, before: 'En 709 hectolitros hay ', value: 70900, after: ' litros.'},
                    {vm: 3, before: 'En 356 kilolitros hay ', value: 356000, after: ' litros.'},
                    {vm: 4, before: 'En 89 mililitros hay ', value: 0.089, after: ' litros.'},
                    {vm: 5, before: 'En 142 decilitros hay ', value: 14.2, after: ' litros.'},
                    
                    {vm: 6, before: 'En 30 decilitros hay ', value: 3, after: ' litros.'},
                    {vm: 7, before: 'En 2 hectolitros hay ', value: 200, after: ' litros.'},
                    {vm: 8, before: 'En 4 kilolitros hay ', value: 4000, after: ' litros.'},
                    {vm: 9, before: 'En 40 decilitros hay ', value: 4, after: ' litros.'},
                    {vm: 10, before: 'En 9 500 mililitros hay ', value: 9.5, after: ' litros.'},
                ])
                app.$set(app.tempsobj, 'targets', [
                    'Multiplicar por 100.',     //t_0
                    'Dividir entre 1 000.',      //t_1
                    'Multiplicar por 10.',      //t_2
                    'Dividir entre 10.',        //t_3
                    'Multiplicar por 1 000.',   //t_4
                ])
                app.$set(app.tempsobj, 'oks', [
                    ["s_0", "t_2"],
                    ["s_1", "t_0"],
                    ["s_2", "t_4"],
                    ["s_3", "t_1"],
                    ["s_4", "t_3"],
                    
                    ["s_5", "t_3"],
                    ["s_6", "t_0"],
                    ["s_7", "t_4"],
                    ["s_8", "t_3"],
                    ["s_9", "t_1"],
                    
                ])