include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Leo revistas de divulgación científica'
- subtitle = 'Lo que conozco'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imagerelative .inputbox:nth-child(1) {
                left: 3%;
                top: 12%;
            }
            .imagerelative .inputbox:nth-child(2) {
                left: 3%;
                top: 26%;
            }
            .imagerelative .inputbox:nth-child(3) {
                left: 70%;
                top: 24%;
            }
            .imagerelative .inputbox:nth-child(4) {
                left: 29%;
                top: 56%;
            }
            .imagerelative .inputbox:nth-child(5) {
                left: 63%;
                top: 50%;
            }
            .recuadropalabras {
                background: #DEEDCD;
            }
            .recuadropalabras strong {
                background: rgba(255, 255, 255, 0.4);
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee con atención el artículo y después escribe las palabras del recuadro en la parte que corresponde.

            recuadropalabras(:palabras="['Subtítulo','Autor','Ilustración','Título','Cuadro de texto']")
            .row: .col-12.imagerelative
                img(src="aimg/1a.png").w-100
                .items
                    template(v-for="(i, index) in ['Título', 'Autor', 'Ilustración', 'Subtítulo', 'Cuadro de texto']")
                        inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i" type="text" placeh="-")



            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])