include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Encuentro resultados iguales'
- subtitle = '¿Quién lo resolvió bien?'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .check.withimg .checkbox{
                left: 86%;
            }
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee los siguientes problemas y marca así <checkmark></checkmark> el recuadro que los resuelve de forma correcta.

            .row: .col-12: img(src="aimg/main.png").w-100

            
            .mt-3: labeltext(num="1.") Ricardo y su mamá fueron al mercado y compraron 1 kg de piña y 1 kg de mango. ¿Cuánto pagaron en total?
            
            .row.mt-3.ex1
                .col-md-6: check(v-model="r[0]" :ref="refCount()" initclass="withimg" @isright="right++" :answer="true"): img(src="aimg/a1.png").img-fluid
                .col-md-6: check(v-model="r[1]" :ref="refCount()" initclass="withimg" @isright="right++" :answer="false"): img(src="aimg/a2.png").img-fluid
            
            
            
            .mt-3: labeltext(num="2.") Ricardo compró 2 kg de uva y 1 kg de toronja. ¿Cuánto dinero pagó en total?
            
            .row.mt-3.ex1
                .col-md-6: check(v-model="r[3]" :ref="refCount()" initclass="withimg" @isright="right++" :answer="false"): img(src="aimg/b1.png").img-fluid
                .col-md-6: check(v-model="r[2]" :ref="refCount()" initclass="withimg" @isright="right++" :answer="true"): img(src="aimg/b2.png").img-fluid





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])