include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Comparo el dinero'
- subtitle = 'Compara precios'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .inputbox{
                margin: 0 auto;
                max-width: 200px;
            }
            .numbers{
                padding: 0 20px;
            }
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}
            
            .row: embedvideo(urlid="3yOUFdkm5OE" title="Leo, escribo y ordeno números")

            .instruccion.mt-5 Observa el dinero que tiene cada olla y resuelve lo que se pide.

            .row: .col-12: img(src="aimg/1a.png").w-100

            .row.mt-3.ex1
                .col-12.mb-5
                    .label #[strong 1.] ¿Cuál es la olla que tiene menos dinero?
                    inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" :answer="4" type="number" placeh="#")
                .col-12.mb-5
                    .label #[strong 2.] ¿Cuál es la olla que tiene más dinero?
                    inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" :answer="2" type="number" placeh="#")
                .col-12.mb-5
                    .label #[strong 3.] Encierra las ollas que tienen la misma cantidad de dinero.
                    .row.justify-content-around
                        selectable(:isok="true" v-model="r[2]" :ref="refCount()" @isright="right++"): numbers(c=2) 1
                        selectable(:isok="false" v-model="r[3]" :ref="refCount()" @isright="right++"): numbers(c=2) 2
                        selectable(:isok="true" v-model="r[4]" :ref="refCount()" @isright="right++"): numbers(c=2) 3
                        selectable(:isok="false" v-model="r[5]" :ref="refCount()" @isright="right++"): numbers(c=2) 4
                .col-12.mb-5
                    .label #[strong 4.] ¿Cuánto dinero hay de diferencia entre la olla 2 y la 4?
                    inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" :answer="44" type="number" placeh="#")
                        template(v-slot:before=""): numbers $
                .col-12.mb-5
                    .label #[strong 5.] ¿Cuánto dinero hay de diferencia entre la olla 3 y la 4?
                    inputbox(v-model="r[7]" :ref="refCount()" @isright="right++" :answer="29" type="number" placeh="#")
                        template(v-slot:before=""): numbers $


 
 

            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])