include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco las narraciones'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .words .text {
                background: rgba(255, 255, 255, 0.5);
                padding: 10px;
                margin: 10px 0;
                border-radius: 10px;
                box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
                line-height: 2;
            }
            .words .drop {
                width: 30%;
                height: 26px;
                background: #fff;
                display: inline-block;
                vertical-align: middle;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                margin-right: 4px;
                text-align: center;
            }
            .words .drop .number{
                font-size: 1rem;
                line-height: 1.5;
            }
            .drag {
               width: fit-content; width: -moz-fit-content;
                height: auto;
                margin: 10px;
            }
            .drags {
                display: flex;
                flex-wrap: wrap;
            }
            [wascloned] {
                display: none;
            }
            .title .drop{
                height: 40px;
            }
            @media (max-width:680px){
                .words .text{
                    font-size: 0.6rem;
                    line-height: 1.4;
                }
                .words .drop{
                    width: 100%;
                }
                .drag .number{
                    font-size: 0.8rem;
                }
            }
         



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca las palabras que completen el texto." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100: .w40: img(src="i/a1.png").w100

                    .row.w100
                        .w60.words
                            .title: .drop(data="t" droptimes="untilok")
                            .text
                                | Narración imaginaria en la que los
                                .drop(data="t1" droptimes="untilok")
                                | tienen características humanas.
                                br
                                | Su propósito es dar una
                                .drop(data="t2" droptimes="untilok")
                                | o un consejo, que se incluye en una frase o un mensaje llamado
                                .drop(data="t3" droptimes="untilok")
                                |.
                        .w40.drags
                            drag(ref="t3" data="t3" dropzone=".drop" stay-if-ok append-clone extval): number(c=4 smaller) moraleja
                            drag(ref="t1" data="t1" dropzone=".drop" stay-if-ok append-clone extval): number(c=4 smaller) animales
                            drag(ref="t4" data="t2" dropzone=".drop" stay-if-ok append-clone extval): number(c=4 smaller) enseñanza
                            drag(ref="t2" data="t" dropzone=".drop" stay-if-ok append-clone extval): number(c=4 small) Fábula

                    .text-center: button(@click="dragValidation(['t1','t2','t3','t4'], 4)").button.big.animate__animated.animate__flip Verificar

            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="3" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca las palabras que completen el texto." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100: .w40: img(src="i/a2.png").w100

                    .row.w100
                        .w60.words
                            .title: number(c=3 small) Leyenda
                            .text
                                | Narración
                                .drop(data="t1" droptimes="untilok")
                                | de un hecho
                                .drop(data="t2" droptimes="untilok")
                                | o imaginario, en la que se explican sucesos importantes para una  
                                .drop(data="t3" droptimes="untilok")
                                | . 
                        .w40.drags
                            drag(ref="g1" data="t3" dropzone=".drop" stay-if-ok append-clone extval): number(c=3 smaller) comunidad
                            drag(ref="g2" data="t1" dropzone=".drop" stay-if-ok append-clone extval): number(c=3 smaller) popular
                            drag(ref="g3" data="t2" dropzone=".drop" stay-if-ok append-clone extval): number(c=3 smaller) real

                    .text-center: button(@click="dragValidation(['g1','g2','g3'], 4)").button.big.animate__animated.animate__flip Verificar

            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ahora, coloca en el pizarrón las características que debe tener un cuento." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w40.drags
                            drag(ref="m1" data="yes" dropzone=".drop" stay-if-ok extval): number(c=2 smaller) La narración debe ser breve.
                            drag(ref="m2" data="no" isfalse dropzone=".drop" stay-if-ok  extval): number(c=2 smaller) No hay personajes importantes.
                            drag(ref="m3" data="no" isfalse dropzone=".drop" stay-if-ok  extval): number(c=2 smaller) La narración debe ser muy larga.
                            drag(ref="m4" data="yes" dropzone=".drop" stay-if-ok extval): number(c=2 smaller) Un personaje debe resolver un problema.
                            drag(ref="m5" data="no" isfalse dropzone=".drop" stay-if-ok extval): number(c=2 smaller) Los animales son los personajes principales.
                        .row.w100: .w100.drop(data="yes" droptimes="multiple" droplimit="2"): img(src="i/b1.png").w100

                    .text-center: button(@click="dragValidation(['m1','m2','m3', 'm4','m5'], 2)").button.big.animate__animated.animate__flip Verificar


            // END
            scene(v-if="currentScene==4" :key="4" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [])
                
                app.currentScene = 0
                app.scenesCount = 3