include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Las fabulosas fábulas'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .words .text {
                background: rgba(255, 255, 255, 0.5);
                padding: 10px;
                margin: 10px 0;
                border-radius: 10px;
                box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
                line-height: 2;
            }
            .words .drop {
                width: auto;
                height: 26px;
                background: #fff;
                display: inline-block;
                vertical-align: middle;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                margin-right: 4px;
                text-align: center;
            }

            .words .drop:empty{
                width: 30%;
            }

            .words .drop .number{
                font-size: 1rem;
                line-height: 1.5;
            }
            .drag {
               width: fit-content; width: -moz-fit-content;
                height: auto;
                margin: 10px;
            }
            .drags {
                display: flex;
                flex-wrap: wrap;
            }
            [wascloned] {
                display: none;
            }
            .title .drop{
                height: 40px;
            }
            @media (max-width:680px){
                .words .text{
                    font-size: 0.6rem;
                    line-height: 1.4;
                }
                .words .drop{
                    width: 100%;
                }
                .drag .number{
                    font-size: 0.8rem;
                }
            }
         



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca las palabras que completen el texto." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity

                    .row.w100
                        .w60.words
                            .text
                                | Son relatos en los que al final se da 
                                .drop(data="t0" droptimes="untilok")
                                |  que se llama 
                                .drop(data="t1" droptimes="untilok")
                            .text
                                | Los  
                                .drop(data="t2" droptimes="untilok")
                                |  generalmente son  
                                .drop(data="t3" droptimes="untilok")
                                |  que hablan y actúan como personas.
                            .text
                                | Pueden estar escritas en prosa o en  
                                .drop(data="t4" droptimes="untilok")
                                | .
                            .text
                                | Presentan en su estructura la situación inicial y luego un  
                                .drop(data="t5" droptimes="untilok")
                                |  que algunas veces tiene  
                                .drop(data="t6" droptimes="untilok")
                                |  y otras no.
                            .text
                                | En las fábulas se critica 
                                .drop(data="t7" droptimes="untilok")
                                |  negativo del ser humano como la envidia, la avaricia y  
                                .drop(data="t8" droptimes="untilok")
                                | , entre otros, y se elogian las características positivas, como  
                                .drop(data="t9" droptimes="untilok")
                                |  y  
                                .drop(data="t10" droptimes="untilok")
                                | .




                            
                        .w40
                            .drags
                                template(v-for="(item,index) in temps.a")
                                    drag(:ref="'t'+item.v" :data="'t'+item.v" dropzone=".drop" stay-if-ok append-clone extval): number(c=4 smaller) {{item.t}}
                            
                            .text-center: button(@click="dragValidation(['t0', 't1','t2','t3','t4', 't5', 't6', 't7', 't8', 't9','t10'], 4)").button.big.animate__animated.animate__flip Verificar

            
            
            // END
            scene(v-if="currentScene==2" :key="2" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [
                    {   v:2, t:'personajes' },
                    {   v:1, t:'moraleja' },
                    {   v:3, t:'animales o cosas' },
                    {   v:0, t:'una enseñanza o un consejo' },
                    {   v:4, t:'verso' },
                    {   v:5, t:'problema' },
                    {   v:6, t:'solución' },
                    {   v:8, t:'la mentira' },
                    {   v:10, t:'la tenacidad' },
                    {   v:7, t:'el comportamiento' },
                    {   v:9, t:'la honradez' }
                ])
                
                app.currentScene = 0
                app.scenesCount = 1