include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Organizo un cuento'
- subtitle = 'Tiempo de leer / Aprendamos a leer y escribir'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .box {
                padding: 10px;
                border-radius: 10px;
                background: #f5f5f5;
                font-size: 1.3rem;
            }
            .box.bx1 {
                border: 2px solid #00AEB5;
            }
            .box.bx1 .inputbox input {
                border-color: #00AEB5;
                color: #00AEB5;
            }
            .box.bx2 {
                border: 2px solid #AE4E8F;
            }
            .box.bx2 .inputbox input {
                border-color: #AE4E8F;
                color: #AE4E8F;
            }
            .box.bx3 {
                border: 2px solid #6CB743;
            }
            .box.bx3 .inputbox input {
                border-color: #6CB743;
                color: #6CB743;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe en los círculos #[strong 1], #[strong 2] y #[strong 3] para ordenar qué pasó primero, después y al final en el cuento Los tres cerditos.

            .row.mt-3.box.bx1
                .col-3
                    inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" answer="2" type="number" placeh="#")
                .col-9.text El cerdito, temblando de miedo, salió corriendo y entró en la casa de madera de su hermano. El lobo lo siguió.
            .row.mt-3.box.bx2
                .col-3
                    inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" answer="3" type="number" placeh="#")
                .col-9.text Entonces, al bajar por la chimenea, el lobo cayó al agua caliente y salió corriendo para nunca más volver.
            .row.mt-3.box.bx3
                .col-3
                    inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" answer="1" type="number" placeh="#")
                .col-9.text Había una vez tres cerditos que vivían en el bosque y cada uno decidió construir su propia casa. El primero decidió hacer una casa de paja.

            .text-center: img(src="aimg/bg.png").img-fluid




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])