include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Aprendo a multiplicar'
- subtitle = 'Charolas de galletas'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .inputbox.ib2 {
                max-width: 70px;
                margin: 0 4px;
            }
            .inputbox.ib2 .tag {
                font-size: 0.6rem;
                color: var(--accent);
            }
            img.img-fluid{
                max-width: 260px;
            }
            .col-md-6{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 60px !important;
            }
            .parrafoinputs{
                margin-top: auto;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe en los recuadros la cantidad de elementos que hay en cada fila y en cada columna. Después, resuelve la multiplicación. 

            .row.mt-3.ex1
                .col-md-6.mt-3.text-center
                    img(src="aimg/a.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[0]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="5")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[1]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="6")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[2]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="30")
            

                .col-md-6.mt-3.text-center
                    img(src="aimg/b.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[3]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="6")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[4]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="4")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[5]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="24")
            

                .col-md-6.mt-3.text-center
                    img(src="aimg/c.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[6]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="3")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[7]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="3")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[8]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="9")
            

                .col-md-6.mt-3.text-center
                    img(src="aimg/d.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[9]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="2")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[10]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="5")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[11]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="10")
            

                .col-md-6.mt-3.text-center
                    img(src="aimg/e.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[12]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="3")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[13]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="6")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[14]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="18")
            

                .col-md-6.mt-3.text-center
                    img(src="aimg/f.png").img-fluid
                    .parrafoinputs
                        inputbox(v-model="r[15]" class="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="3")
                            template(v-slot:before=""): .tag Fila
                        span x
                        inputbox(v-model="r[16]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="7")
                            template(v-slot:before=""): .tag  Columna
                        span =
                        inputbox(v-model="r[17]" class="ib2"  :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="21")
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])