include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco canciones populares'
- subtitle = 'Tiempo de leer / Aprendamos a leer y escribir'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex1 .selectable{
                display: inline-block;
            }
            .ex1 .common {font-size: 1.2rem;}
            .ex1 .selectable .circledactive {border-radius: 10%; border-width:2px;}

            .ex2 .inputbox{justify-content:flex-start;padding:10px;font-size:1.2rem;border-bottom:2px solid var(--pastel2)}
            .ex2 .inputbox input{margin:0 6px;font-size:1.2rem;padding:2px;max-width:160px}
            .ex2 .recuadropalabras{background:var(--pastel2)}
            .ex2 .recuadropalabras > div{width:40%;text-align:center}
            .ex2 .recuadropalabras strong{color:var(--sec);background:#fff;font-size:1.6rem}
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee los fragmentos de estas canciones populares mexicanas y encierra las rimas que encuentres.

            .row.mt-3.ex1
                .col-md-6.mt-3
                    .common
                        .h3 Naranja dulce
                        div Naranja dulce,
                        div limón
                            selectable(:isok="true" v-model="r[0]" :ref="refCount()" @isright="right++") partido
                            | ,
                        div dame un abrazo
                        div que yo te 
                            selectable(:isok="true" v-model="r[1]" :ref="refCount()" @isright="right++") pido
                            | .
                    .common.mt-3
                        .h3 A la víbora de la mar
                        div Una mexicana
                        div que frutas 
                            selectable(:isok="true" v-model="r[2]" :ref="refCount()" @isright="right++") vendía
                            | :
                        div ciruela, chabacano,
                        div melón o 
                            selectable(:isok="true" v-model="r[3]" :ref="refCount()" @isright="right++") sandía
                            | .
                .col-md-6.mt-3
                    .common
                        .h3 Aserrín, aserrán
                        div Aserrín, 
                            selectable(:isok="true" v-model="r[4]" :ref="refCount()" @isright="right++") aserrán
                            | .
                        div Los maderos de 
                            selectable(:isok="true" v-model="r[5]" :ref="refCount()" @isright="right++") San Juan
                        div piden 
                            selectable(:isok="true" v-model="r[6]" :ref="refCount()" @isright="right++") queso
                            | ,
                        div les dan un 
                            selectable(:isok="true" v-model="r[7]" :ref="refCount()" @isright="right++") hueso
                        div que se les atora
                        div en el 
                            selectable(:isok="true" v-model="r[8]" :ref="refCount()" @isright="right++") pescuezo
                            | .
                    img(src="aimg/a.png").mt-3.img-fluid

            .instruccion.mt-5 Completa las rimas con las palabras del recuadro.
            .row.mt-3.ex2.centerrow
                .col-md-6
                    recuadropalabras(:palabras="['semillitas','tostaditas', 'pico','perico']")
                .col-md-6
                    inputbox(v-model="r[9]" :ref="refCount()" @isright="right++" answer="perico" type="text" placeh="-")
                        template(v-slot:before="") A Tico el 
                    inputbox(v-model="r[10]" :ref="refCount()" @isright="right++" answer="pico" type="text" placeh="-")
                        template(v-slot:before="") se le rompió el
                    inputbox(v-model="r[11]" :ref="refCount()" @isright="right++" answer="semillitas" type="text" placeh="-")
                        template(v-slot:before="") comiendo
                    inputbox(v-model="r[12]" :ref="refCount()" @isright="right++" answer="tostaditas" type="text" placeh="-")
                        template(v-slot:before="") todas 
                        template(v-slot:after="") .


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])