include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Confirmo lo que aprendí'
- subtitle = ''


<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .blank{border-bottom:2px solid var(--main);width:50px;display:inline-block}
            .frc{display:inline-block;text-align:center;vertical-align:middle}
            .choose .options div hr,.frc hr{borde:none;border-top:2px solid var(--sec);min-width:40px;margin:0}
            .choose .options div{;padding:6px;border-bottom:none; border-radius: 10px; background:#f5f5f5;}
            .choose .options div.active{border:2px solid var(--main);background:#fff;box-shadow:4px 4px 0 rgba(0,0,0,.1)}
            .choose .options div{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
            .choose .options div img{ max-width: 120px; border-radius: 6px; }
            img{ display: block; margin: 0 auto; width: 100%; max-width: 380px; }
            .choose .options div img.im1{ max-width: 80px; }
            .choose .options div img.im2{ max-width: 60px; }
        body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Marca la respuesta correcta.

            .row.mt-3
                .col-12
                    template(v-for="(i, index) in temps")
                        choose(:key="index" v-model="r[index]" :ref="refCount()" :num="(index+1)+'.'" :text="i.p" :options="i.ops" @isright="right++" :answer="i.ops[i.a]")

            

            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app, 'temps', [
                    {
                        p: '¿Cuál es el juego que consiste en completar cuadros en blanco?',
                        ops: ['Crucigrama.','Trabalenguas.','Copla.'],
                        a:0
                    },
                    {
                        p: 'Es donde debes buscar el significado de una palabra que no conoces.',
                        ops: ['Revista.','Diccionario.','Periódico.'],
                        a:1
                    },
                    {
                        p: 'Selecciona la oración interrogativa.',
                        ops: ['¡Mira, un puesto de frutas!','¿Dónde está la tienda?','La casa de Pablo es roja.'],
                        a:1
                    },
                    {
                        p: '¿Para qué son las ilustraciones en los textos informativos?',
                        ops: ['Para exponer el tema.','Para confundir al lector.','Para complementar la información.'],
                        a:2
                    },
                    {
                        p: 'En los poemas, cada línea corresponde a un verso y un grupo de versos forman una:',
                        ops: ['Fábula.','Leyenda.','Estrofa.'],
                        a:2
                    },
                    {
                        p: 'La moraleja sirve para darnos una:',
                        ops: ['Adivinanza.','Canción.','Enseñanza.'],
                        a:2
                    },
                    {
                        p: 'Es el conjunto de preguntas que se hacen a ciertas personas para obtener información.',
                        ops: ['Cuento.','Entrevista.','Fábula.'],
                        a:1
                    },
                    {
                        p: 'Son las partes de un cuento.',
                        ops: ['Inicio, desarrollo y final.','Fábula, rima y copla.','Índice, introducción y conclusión.'],
                        a:0
                    },

                    /*
                    {
                        p: '',
                        ops: [''],
                        a:0
                    },
                    */
                    
                ])

